#Fri, 07 Jun 2013 14:51:36 +0500
app.name=S360

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=2ee41f64-ce16-40ee-aaa9-ad4dd2abb27a
